*{
    margin: 0;
    padding: 0;
}


/* --------------------------------------------------------------- */


.nav{
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 25px;
    margin-right: -490px;
}

.logo img {
    width: 20%;
    border: 1.5px solid white;
    border-radius: 50%;
    width: 65px;
    height: 47px;
    margin-right: 500px;
    margin-top: -1px;
}

.nav li a{
    color: white;
    padding: 43px;
    text-decoration: none;
    font-family: Comic Sans MS;
}


/* ------------------------------------------------------------------ */


.container{
    height: 90vh;
    /* background-color: rgb(13, 143, 67); */

    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* display: flex; */
}

.title_name{
    margin-left: 256px;
    /* margin-top: 41px; */
    font-size: 65px; 
    color: rgb(217, 152, 227);
    text-shadow: 2px 3px 5px rgb(17, 200, 164);
    font-family: cursive;
}

footer{
    height: 10vh;
    background-color: black;  
    display: flex;
    align-items: center;      
    justify-content: center;
}

p1{
    color: white;
}

.wrapper {
    height: 75vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 32ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Ink Free;
    font-size: 3.5em;
    color: aliceblue;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


@media only screen and (max-width: 400px){
    .nav {
        height: 22vh;
        width: 183vh;
    }

    .container {
        height: 95vh;
        width: 183vh;
    }

    .title_name{
        margin-left: 71px;
        font-size: 32px;
    }

    footer{
        width: 183vh;
    }
    
    p1{
        font-size: 15px;
    }

    .typing-demo {
        font-size: 1.7em;
    }
}