<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <title>harshmhatre.com</title>
</head>

<body>

    <header>
        <nav>   
            <ul class="nav">
                <div class="logo">
                    <img src="../static/LogoImg.jpg" alt="logo">
                </div>
                <li><a href="Home">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <p class="title_name">Let's see About HARSH</p>
            <div class="block1">
                <p2>Hello Friends, My full Name is Harsh Rajesh Mhatre. and i am Computer Science student. Web development is my Hobby.</p2>
            </div>
            <div class="block2">
                <p3>I am belong from Alibag. I love to spent my time with my Friends and Family, i fill happy when i am with my Friends.</p3>
            </div>
            <div class="block3">
                <p4>I also Love to play cricket , Swimming , Adventures ,  etc.</p4>
            </div>
        </div>
    </main>

    <footer>
        <p1>Copyrights &copy; 2023 Harsh Mhatre Webpage. All rights reserved | Design By Harsh Mhatre</p>
    </footer>

</body>
</html>
